<div class="container" id="container" [ngClass]="{ active: !sign_in }">
  <app-form-sign-in [formGroup]="SignIn" [fields]="Fields_signIn" (sign_inEvent)="onSubmitSignIn($event)" [errorMensage]="errorMessageSignIn"></app-form-sign-in>
  <app-form-sign-up [formGroup]="SignUp" [fields]="Fields_signUp" (sign_upEvent)="onSubmitSignUp($event)" [errorMensage]="errorMessageSignUp"></app-form-sign-up>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>¡Bienvenido de vuelta!</h1>
        <p>
            Nos alegra verte de nuevo en Recrea de Juerga.  
            Vive la pasión del fútbol, apoya al equipo y disfruta de cada partido.
        </p>
        <button class="hidden" id="login" (click)="cambiarFormulario()">Iniciar Sesión</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>¡Hola, amigo!</h1>
        <p>
          Regístrate con tus datos personales para disfrutar  
          de todas las funcionalidades que ofrece Recrea de Juerga.
        </p>
        <button class="hidden" id="register" (click)="cambiarFormulario()">Registrar</button>
      </div>
    </div>
  </div>
</div>
