<div class="navigation">
  <ul>
    <li class="active" style="--clr:#f44336">
      <a href="#">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li style="--clr:#ffa117">
      <a href="#">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Jugadores</span>
      </a>
    </li>
    <li style="--clr:#0fc70f">
      <a href="#">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <span class="text">Partidos</span>
      </a>
    </li>
    <li style="--clr:#2196f3">
      <a href="#">
        <span class="icon"><i class="fas fa-trophy"></i></span>
        <span class="text">Clasificación</span>
      </a>
    </li>
  </ul>
</div>
