<div class="navigation">
  <ul>
    <li [ngClass]="{ active: router.url === '/app' }" style="--clr: #f44336">
      <a routerLink="/app">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
      </a>
    </li>

    <li
      [ngClass]="{ active: router.url.startsWith('/app/Recrea_de_Juerga/jugadores') }"
      style="--clr: #ffa117"
    >
      <a routerLink="/app/Recrea_de_Juerga/jugadores">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Jugadores</span>
      </a>
    </li>

    <li
      [ngClass]="{ active: router.url.startsWith('/app/Recrea_de_Juerga/partidos') }"
      style="--clr: #0fc70f"
    >
      <a routerLink="/app/Recrea_de_Juerga/partidos">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <span class="text">Partidos</span>
      </a>
    </li>

    <li
      [ngClass]="{ active: router.url.startsWith('/app/clasificacion') }"
      style="--clr: #2196f3"
    >
      <a routerLink="/app/clasificacion">
        <span class="icon"><i class="fas fa-trophy"></i></span>
        <span class="text">Tabla</span>
      </a>
    </li>

    @if (admin) {
    <li
      [ngClass]="{ active: router.url.startsWith('/app/admin') }"
      style="--clr: #b145e9"
    >
      <a routerLink="/app/admin">
        <span class="icon"><i class="fas fa-user-shield"></i></span>
        <span class="text">Admin</span>
      </a>
    </li>
    }
  </ul>
</div>
