<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li>
      <a href="mailto:jorgemodric8@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/jodric10/RecreaDeJuerga">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/recreadejuerga/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
  <span><a routerLink="/auth">¡Si eres admin, entra aquí!</a></span>
  <p>©2025 Recrea De Juerga | All Rights Reserved</p>
</footer>
